<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">




   <!--<bean id="shopMapper" claShopMapperImplImpl"/>-->
   <bean id="userMapper" class="UserMapperImpl"/>
   <bean id="probeUserMapper" class="ProbeUserMapperImpl"/>
   <!--<bean id="propertyMapper" claPropertyMapperImplImpl"/>-->
   <bean id="queryHistoryDataMapper" class="QueryHistoryDataMapperImpl"/>
   <bean id="userFlowMapper" class="UserFlowMapperImpl"/>
   <bean id="userVisitMapper" class="UserVisitMapperImpl"/>
   <bean id="userVisitTimeMapper" class="UserVisitTimeMapperImpl"/>

   <!-- <bean id="loginService" claLoginServiceImplImpl"/>
    <bean id="userVisitService" claUserVisitServiceImplImpl"/>
    <bean id="userVisitTimeService" claUserVisitTimeServiceImplImpl"/>

    <bean id="shopService" claShopServiceImplImpl"/>


    <bean id="queryHistoryData" claQueryHistoryDataServiceImplImpl"/>




    <bean id="probeUserService" claProbeUserServiceImplImpl"/>


    <bean id="propertyService" claPropertyServiceImplImpl"/> -->

</beans>