<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <typeAliases>
        <typeAlias type="com.lzy.bean.TaskBean" alias="taskBean"/>
        <typeAlias type="com.lzy.bean.PropertyBean" alias="propertyBean"/>
        <typeAlias type="com.lzy.bean.ShopBean" alias="shopBean"/>
        <typeAlias type="com.lzy.bean.VendorMacBean" alias="vendorMacBean"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.remote.url}"/>
                <property name="username" value="${jdbc.remote.username}"/>
                <property name="password" value="${jdbc.remote.password}"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
                <property name="poolPingConnectionsNotUsedFor" value="3600000"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/lzy/mapper/TaskDao.xml"/>
        <mapper resource="com/lzy/mapper/PropertyDao.xml"/>
        <mapper resource="com/lzy/mapper/ShopDao.xml"/>
        <mapper resource="com/lzy/mapper/VendorMacDao.xml"/>
    </mappers>
</configuration>